<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui 调试预览</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
</head>
<body>
    <div style="margin: 10px 10px 10px 10px;top:0px" id="btn">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">评论内容</label>
                    <div class="layui-input-inline">
                        <!--注意此处input标签里的id-->
                        <input class="layui-input" name="content" id="content" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">评论者id</label>
                    <div class="layui-input-inline">
                        <!--注意此处input标签里的id-->
                        <input class="layui-input" name="uId" id="uId" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <!--注意此处button标签里的type属性-->
                    <button type="button" class="layui-btn layui-btn-primary"  lay-submit data-type="reload" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
    <table class="layui-hide" id="commentlist" lay-filter="commentlist"></table>
    <!--行工具栏-->
    <script th:if="${session.activeUser.getUserrole() == 1}" type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="updateComment">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteComment">删除</a>
    </script>
    <!--头工具栏-->
    <script type="text/html" id="headBar">
        <a class="layui-btn" lay-event="add">发表评论</a>
        <a th:if="${session.activeUser.getUserrole() == 1}" class="layui-btn  layui-btn-danger" lay-event="deleteBatch">批量删除</a>
    </script>

    <!--先引入layui.js,再引入自己写的js-->
    <script th:src="@{layui/layui.js}"></script>
    <script th:src="@{js/comment.js}"></script>

</body>
</html>